<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Ted & George Cleaning Service</title>

    <!-- Styles -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap}"
          rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{css/swiper.css}" rel="stylesheet">
    <link th:href="@{css/styles.css}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" th:href="@{images/favicon.png}">
</head>
<body data-bs-spy="scroll" data-bs-target="#navbarExample">

<!-- Navigation -->
<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo - Use this if you have a graphic logo -->
        <a class="navbar-brand logo-image" th:href="@{/}"><img src="images/logo.svg" alt="ted-and-george-logo"></a>

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!--        <a class="navbar-brand logo-text" th:href="@{/}">Ted & George Cleaning Service</a>-->

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{#cleaningService}">Cleaning Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{#ironingService}">Ironing Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{#reviews}">Reviews</a>
                </li>

            </ul>
            <span class="nav-item">
                    <a class="btn-solid-sm" th:href="@{#contact}">Contact us</a>
                </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->

<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h1 class="h1-large">Cleaning and Ironing Solutions for your home</h1>
                    <p class="p-large">We are a small, family-run cleaning and ironing service. You will be amazed by
                        our excellent service, improved constantly over nine years of practice, with hundreds of
                        satisfied customers. We offer a highly professional and dedicated approach, combined with a warm
                        and personalised touch, so that every customer feels valued and cared for.
                    </p>
                    <a class="btn-solid-lg" th:href="@{#cleaningService}">Offered services</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container" style="margin-top:5em;">
                    <img class="img-fluid" th:src="@{images/tg-header-image.png}" alt="clean-living-room">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<div class="basic-1"></div>

<!-- Cleaning Service -->
<div id="cleaningService" class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{images/details-1.png}" alt="kid-playing-with-dog">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">WHAT WE DO</div>
                    <h2>Cleaning Service</h2>
                    <p>We enjoy cleaning, it is not just a business for us. We like to “wow” and surprise customers with
                        the amazing transformation they see after we finish.
                        <br><br>Our range covers:
                        <br>&#8226 Regular cleaning of your home or office
                        <br>&#8226 Weekly
                        <br>&#8226 Bi-weekly
                        <br>&#8226 Monthly
                        <br>&#8226 One-off appointments
                        <br>&#8226 Deep cleaning
                        <br>&#8226 After builders
                        <br>&#8226 End of tenancy
                    <p>We are competent not only in hand-picking the best detergents types to be used for specific
                        stains but in combining them with the most effective techniques, to remove any persistant
                        stains, making sure your expensive surfaces are kept safe. We have extensive experience in
                        cleaning: glass, stone, marble, quartz, chrome, wood, granite, and removing various types of
                        stains and spills such as grease, mould, limescale, oil etc.
                    </p>
                    <a class="btn-solid-reg" th:href="@{#contact}">Contact us</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of Cleaning Service -->


<!-- Ironing Service -->
<div id="ironingService" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">WHAT WE DO</div>
                    <h2>Ironing Service</h2>
                    <p>Ironing of all sorts of fabrics using professional equipment.</p>
                    <p>Take a breath! Steal some time!
                        <br>We know you are busy and the last thing you want to do is iron at the end of a long week.
                        Contact us to help you with your routine, so you can steal a little time for you, your loved
                        ones and family. Trust us and we won't disappoint you.

                    </p>
                    <p>We offer high-quality ironing of your clothes with exceptional care at competitive prices. We are
                        experienced with all sorts of fabrics and materials, and we use professional BOSCH and Tefal
                        equipment.

                    </p>
                    <p>This service includes <span style="color: red"> FREE</span> pick-up and delivery of your clothes
                        for the following areas in South West London: Sutton, Morden, Raynes Park, Wimbledon, Merton,
                        South Wimbledon, Wimbledon village, Kingston-upon-Thames.</p>
                    <a class="btn-solid-reg" th:href=@{"#contact"}>Contact us</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <img class="img-fluid" th:src="@{images/details-2.png}" alt="ironing-board-and-shirt">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of Ironing Service -->


<!-- Reviews -->
<div id="reviews" class="basic-1">
    <div class="cards-2 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Customer testimonials</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">THANK YOU TEDDY, you are an absolute star! Thanks to your skills
                                I re-discovered my marble kitchen and I can now enjoy the full brilliance, without
                                effort.</p>
                            <div class="testimonial-author">Megan Stirchley</div>
                        </div>
                        <div class="gradient-floor red-to-blue"></div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">Thank you for looking after my house for the last three years.
                                You have become a part of our family.<br><br></p>
                            <div class="testimonial-author">Kate Bldwin</div>
                        </div>
                        <div class="gradient-floor blue-to-purple"></div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">Thank you loads Teddy! I am in awe after I saw how you cleaned
                                our place! You have done an absolutely lovely job<br><br></p>
                            <div class="testimonial-author">Layla Giuzluglu</div>
                        </div>
                        <div class="gradient-floor purple-to-green"></div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">Massive thank you for the deep clean you did on my house. It is
                                literally unrecognizable, and I never thought it can be that clean.</p>
                            <div class="testimonial-author">Dean McKenneth</div>
                        </div>
                        <div class="gradient-floor red-to-blue"></div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">A huge thank you for helping our family for nearly four years!
                                We
                                really do appreciate everything you’ve done!<br><br></p>
                            <div class="testimonial-author">Karoline Reeves</div>
                        </div>
                        <div class="gradient-floor blue-to-purple"></div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="quotes" th:src="@{images/quotes.svg}" alt="quotes">
                        <div class="card-body">
                            <p class="testimonial-text">Well done Teddy, the flat is absolutely spotless, and I would
                                love to have you coming regularly! You really make a difference.</p>
                            <div class="testimonial-author">Patrick Keith</div>
                        </div>
                        <div class="gradient-floor purple-to-green"></div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
</div><!-- end of basic-1 -->
<!-- end of testimonials -->


<!-- Contact -->
<div id="contact" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">CONTACT US</div>
                    <h2>Don't hesitate to contact us if you have any questions.</h2>
                    <p>For example: </p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">To discuss a quote</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Ask about our prices</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Arrange a home consultation</div>
                        </li>
                        <p>Should you have any other queries, please do not hesitate to contact us. We will be delighted
                            to help.
                        </p>
                        <p>Contact Ted or George: </p>
                        <p style="color:red;">+44 7476830599</p>
                        <p style="color:red;">
                            +44 7961609036</p>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Contact Form -->
                <form action="#" th:action="@{/sendHTMLMail}"
                      th:object="${contactEmail}"
                      enctype="multipart/form-data"
                      method="post">

                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6" style="margin-top:1em;">
                                    <input type="text" id="clientFirstName" th:field="*{clientFirstName}"
                                           class="form-control-input"
                                           placeholder="First Name"
                                           required
                                           minlength="2"
                                           maxlength="100"
                                           oninvalid="this.setCustomValidity('First name should be between 2 and 100 symbols long.')"
                                           oninput="setCustomValidity('')">
                                </div>
                                <div class="col-md-6" style="margin-top:1em;">
                                    <input type="text" id="clientLastName" th:field="*{clientLastName}"
                                           class="form-control-input"
                                           placeholder="Last Name" required
                                           minlength="2"
                                           maxlength="100"
                                           oninvalid="this.setCustomValidity('Last name should be between 2 and 100 symbols long.')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row" style="margin-top:1em;">
                                <div class="col-md-12">
                                    <input type="email" id="clientEmail" th:field="*{clientEmail}"
                                           class="form-control-input"
                                           placeholder="Email"
                                           required
                                           oninvalid="this.setCustomValidity('Your Email must contain: @[domain].com/net/org etc.')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="row" style="margin-top:1em;">
                                <div class="col-md-12">
                                    <textarea style="resize: none;" rows="5" cols="10"
                                              class="form-control-input"
                                              id="emailText"
                                              th:field="*{emailText}"
                                              placeholder="Get in touch"
                                              required
                                              minlength="10"
                                              maxlength="500"
                                              oninvalid="this.setCustomValidity('Message should be between 10 and 500 symbols long.')"
                                              oninput="setCustomValidity('')"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top:1em;">
                                <div class="col-md-6" style="margin-top:1em;">
                                    <div class="file-input">
                                        <input type="file" name="attachments" id="attachments" class="file"
                                               th:field="*{attachments}"
                                               accept="image/jpeg, image/png"
                                               multiple>
                                        <label for="attachments">
                                            Upload photo/s
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top:1em;">
                                    <button type="submit" class="form-control-submit-button">Submit</button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:1em;">
                                <p class="file-name" style="font-weight:bold;"></p>
                            </div>
                        </div>

                    </div>


                </form><!-- end of contact form -->

            </div> <!-- end of col -->
            <div class="container">
                <div class="footer">
                    <hr class="section-divider">
                    <h4>If you want to find out more about our services then follow us</h4>
                    <div class="social-container">
                        <span class="fa-stack">

                            <a th:href="@{https://www.facebook.com/TedGeorge-Ironing-Services-641317549637478}">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a th:href="@{https://www.instagram.com/tngcleaning/}">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <!-- Use this spin if you have pinterest account -->
                        <!--                        <span class="fa-stack">-->
                        <!--                            <a th:href="@{#your-link}">-->
                        <!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
                        <!--                                <i class="fab fa-pinterest-p fa-stack-1x"></i>-->
                        <!--                            </a>-->
                        <!--                        </span>-->

                        <!-- Use this span if you have twitter account -->
                        <!--                    <span class="fa-stack">-->
                        <!--                            <a th:href="@{#your-link}">-->
                        <!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
                        <!--                                <i class="fab fa-twitter fa-stack-1x"></i>-->
                        <!--                            </a>-->
                        <!--                        </span>-->
                        <!-- Use this span if you have youtube account -->

                        <!--                    <span class="fa-stack">-->
                        <!--                            <a th:href="@{#your-link}">-->
                        <!--                                <i class="fas fa-circle fa-stack-2x"></i>-->
                        <!--                                <i class="fab fa-youtube fa-stack-1x"></i>-->
                        <!--                            </a>-->
                        <!--                        </span>-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of row -->

</div> <!-- end of container -->


<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a th:href="@{/termsAndConditions}">Terms & Conditions</a></li>
                    <li><a th:href="@{/privacyPolicy}">Privacy Policy</a></li>
                </ul>
            </div> <!-- end of col -->


            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Copyright © <a th:href="@{#}">Teodora Nihtyanova</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img th:src="@{images/up-arrow.png}" alt="arrow-pointing-up">
</button>
<!-- end of back to top button -->

<!-- Scripts -->
<script th:src="@{js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script th:src="@{js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script th:src="@{js/scripts.js}"></script> <!-- Custom scripts -->

<script>
    const file = document.querySelector('#attachments');
file.addEventListener('change', (e) => {
  // Get the selected file
  const [file] = e.target.files;
  // Get the file name and size
  const { name: fileName, size } = file;
  // Convert size in bytes to kilo bytes
  const fileSize = (size / 1000).toFixed(2);
  // Set the text content
  const fileNameAndSize = `${fileName} - ${fileSize}KB`;
  document.querySelector('.file-name').textContent = fileNameAndSize;
});








</script>

</body>
</html>