<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Privacy Policy</title>

    <!-- Styles -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap}"
          rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{css/swiper.css}" rel="stylesheet">
    <link th:href="@{css/styles.css}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" th:href="@{images/favicon.png}">
</head>
<body>

<!-- Navigation -->
<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo -->
        <!--            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" th:href="@{/}">Ted & George Cleaning Service</a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#cleaningService}">Cleaning Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#ironingService}">Ironing Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#reviews}">Reviews</a>
                </li>
            </ul>
            <span class="nav-item">
                    <a class="btn-solid-sm" th:href="@{/#contact}">Contact us</a>
                </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Privacy Policy</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="text-box mt-5 mb-5">
                    <p class="p-large">
                        At Ted &amp; George Cleaning Service, accessible from tg-cleaning.co.uk, one of our main
                        priorities is the privacy of our visitors. This Privacy Policy document contains types of
                        information that is collected and recorded by Ted &amp; George Cleaning Service and how we use
                        it.<br><br>

                        If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us.<br><br>

                        This Privacy Policy applies only to our online activities and is valid for visitors to our
                        website with regards to the information that they shared and/or collect in Ted &amp; George
                        Cleaning Service. This policy is not applicable to any information collected offline or via
                        channels other than this website. Our Privacy Policy was created with the help of the Free
                        Privacy Policy Generator.</p>
                </div> <!-- end of text-box -->
                <h3 class="mt-5 mb-3">1. Consent</h3>
                <p class="mb-5">By using our website, you hereby consent to our Privacy Policy and agree to its
                    terms.</p>
                <h3>2. Information we collect</h3>
                <p class="mb-5">The personal information that you are asked to provide, and the reasons why you are
                    asked to provide it, will be made clear to you at the point we ask you to provide your personal
                    information.</p>
                <p class="mb-5">If you contact us directly, we may receive additional information about you such as your
                    name, email address, phone number, the contents of the message and/or attachments you may send us,
                    and any other information you may choose to provide.</p>
                <p class="mb-5">When you register for an Account, we may ask for your contact information, including
                    items such as name, company name, address, email address, and telephone number</p>

                <h3>3. How we use your information</h3>
                <p class="mb-4">We use the information we collect in various ways, including to:</p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Provide, operate, and maintain our website
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Improve, personalize, and expand our website
                            Service
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Understand and analyze how you use our website
                            Service
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Develop new products, services, features, and functionality
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Communicate with you, either directly or through one of our partners,
                            including for customer service, to provide you with updates and other information relating
                            to the website, and for marketing and promotional purposes
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Send you emails
                        </div>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Find and prevent fraud
                        </div>
                    </li>
                </ul>

                <h3 class="mb-3">4. Log Files</h3>
                <p class="mb-4">Ted &amp; George Cleaning Service follows a standard procedure of using log files. These
                    files log visitors when they visit websites. All hosting companies do this and a part of hosting
                    services' analytics. The information collected by log files include internet protocol (IP)
                    addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages,
                    and possibly the number of clicks. These are not linked to any information that is personally
                    identifiable. The purpose of the information is for analyzing trends, administering the site,
                    tracking users' movement on the website, and gathering demographic information.</p>

                <h3 class="mb-3">5. Advertising Partners Privacy Policies</h3>
                <p class="mb-4">You may consult this list to find the Privacy Policy for each of the advertising
                    partners of Ted &amp; George Cleaning Service.</p>
                <p class="mb-4">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web
                    Beacons that are used in their respective advertisements and links that appear on Ted &amp; George
                    Cleaning Service, which are sent directly to users' browser. They automatically receive your IP
                    address when this occurs. These technologies are used to measure the effectiveness of their
                    advertising campaigns and/or to personalize the advertising content that you see on websites that
                    you visit.</p>
                <p class="mb-4">Note that Ted &amp; George Cleaning Service has no access to or control over these
                    cookies that are used by third-party advertisers.</p>

                <h3 class="mb-3">6. Third Party Privacy Policies</h3>
                <p class="mb-4">Ted &amp; George Cleaning Service's Privacy Policy does not apply to other advertisers
                    or websites. Thus, we are advising you to consult the respective Privacy Policies of these
                    third-party ad servers for more detailed information. It may include their practices and
                    instructions about how to opt-out of certain options.</p>
                <p class="mb-4">You can choose to disable cookies through your individual browser options. To know more
                    detailed information about cookie management with specific web browsers, it can be found at the
                    browsers' respective websites.</p>

                <h3 class="mb-3">7. CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
                <p class="mb-4">Under the CCPA, among other rights, California consumers have the right to:</p>
                <p class="mb-4">Request that a business that collects a consumer's personal data disclose the categories
                    and specific pieces of personal data that a business has collected about consumers.</p>
                <p class="mb-4">Request that a business delete any personal data about the consumer that a business has
                    collected.</p>
                <p class="mb-4">Request that a business that sells a consumer's personal data, not sell the consumer's
                    personal data.</p>
                <p class="mb-4">If you make a request, we have one month to respond to you. If you would like to
                    exercise any of these rights, please contact us.</p>

                <h3 class="mb-3">8. GDPR Data Protection Rights</h3>
                <p class="mb-4">We would like to make sure you are fully aware of all of your data protection rights.
                    Every user is entitled to the following:</p>
                <p class="mb-4">The right to access – You have the right to request copies of your personal data. We may
                    charge you a small fee for this service</p>
                <p class="mb-4">The right to rectification – You have the right to request that we correct any
                    information you believe is inaccurate. You also have the right to request that we complete the
                    information you believe is incomplete.</p>
                <p class="mb-4">The right to erasure – You have the right to request that we erase your personal data,
                    under certain conditions.</p>
                <p class="mb-4">The right to restrict processing – You have the right to request that we restrict the
                    processing of your personal data, under certain conditions.</p>
                <p class="mb-4">The right to object to processing – You have the right to object to our processing of
                    your personal data, under certain conditions.</p>
                <p class="mb-4">The right to data portability – You have the right to request that we transfer the data
                    that we have collected to another organization, or directly to you, under certain conditions.</p>
                <p class="mb-4">If you make a request, we have one month to respond to you. If you would like to
                    exercise any of these rights, please contact us.</p>

                <h3 class="mb-3">9. Children's Information</h3>
                <p class="mb-4">Another part of our priority is adding protection for children while using the internet.
                    We encourage parents and guardians to observe, participate in, and/or monitor and guide their online
                    activity.</p>
                <p class="mb-4">Ted &amp; George Cleaning Service does not knowingly collect any Personal Identifiable
                    Information from children under the age of 13. If you think that your child provided this kind of
                    information on our website, we strongly encourage you to contact us immediately and we will do our
                    best efforts to promptly remove such information from our records.</p>


                <a class="btn-solid-reg mb-5" th:href="@{/#contact}">Contact us</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->

<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a th:href="@{/termsAndConditions}">Terms & Conditions</a></li>
                    <li><a th:href="@{/privacyPolicy}">Privacy Policy</a></li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Copyright © <a th:href="@{#}">Teodora Nihtyanova</a></p>
            </div> <!-- end of col -->

        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img th:src="@{images/up-arrow.png}" alt="alternative">
</button>
<!-- end of back to top button -->

<!-- Scripts -->
<script th:src="@{js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script th:src="@{js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script th:src="@{js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>