<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Terms & Conditions</title>

    <!-- Styles -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap}"
          rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{css/swiper.css}" rel="stylesheet">
    <link th:href="@{css/styles.css}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" th:href="@{images/favicon.png}">
</head>
<body>

<!-- Navigation -->
<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo -->
        <!--            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" th:href="@{/}">Ted & George Cleaning Service</a>

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#cleaningService}">Cleaning Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#ironingService}">Ironing Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#reviews}">Reviews</a>
                </li>

            </ul>
            <span class="nav-item">
                    <a class="btn-solid-sm" th:href="@{/#contact}">Contact us</a>
                </span>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h1>Terms & Conditions</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Basic -->
<div class="ex-basic-1 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="text-box mt-5 mb-5">
                    <p class="p-large">Welcome to Ted &amp; George Cleaning Service!<br><br>

                        These terms and conditions outline the rules and regulations for the use of Ted &amp; George
                        Cleaning Service's Website, located at tg-cleaning.co.uk.<br><br>

                        By accessing this website we assume you accept these terms and conditions. Do not continue to
                        use Ted &amp; George Cleaning Service if you do not agree to take all of the terms and
                        conditions stated on this page.<br><br>

                        The following terminology applies to these Terms and Conditions, Privacy Statement and
                        Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log
                        on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves",
                        "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the
                        Client and ourselves. All terms refer to the offer, acceptance and consideration of payment
                        necessary to undertake the process of our assistance to the Client in the most appropriate
                        manner for the express purpose of meeting the Client’s needs in respect of provision of the
                        Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any
                        use of the above terminology or other words in the singular, plural, capitalization and/or
                        he/she or they, are taken as interchangeable and therefore as referring to same.</p>
                </div> <!-- end of text-box -->

                <h2 class="mb-3">1. Cookies</h2>
                <p>We employ the use of cookies. By accessing Ted &amp; George Cleaning Service, you agreed to use
                    cookies in agreement with the Ted &amp; George Cleaning Service's Privacy Policy. </p>
                <p class="mb-5">Most interactive websites use cookies to let us retrieve the user’s details for each
                    visit. Cookies are used by our website to enable the functionality of certain areas to make it
                    easier for people visiting our website. Some of our affiliate/advertising partners may also use
                    cookies.</p>

                <h2 class="mb-3">2. License</h2>
                <p>Unless otherwise stated, Ted &amp; George Cleaning Service and/or its licensors own the intellectual
                    property rights for all material on Ted &amp; George Cleaning Service. All intellectual property
                    rights are reserved. You may access this from Ted &amp; George Cleaning Service for your own
                    personal use subjected to restrictions set in these terms and conditions.</p>
                <p class="mb-4">You must not:</p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Republish material from Ted &amp; George Cleaning Service
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Sell, rent or sub-license material from Ted &amp; George Cleaning
                            Service
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Reproduce, duplicate or copy material from Ted &amp; George Cleaning
                            Service
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Redistribute content from Ted &amp; George Cleaning Service
                        </div>
                    </li>
                </ul>
                <p class="mb-5">This Agreement shall begin on the date hereof. Our Terms and Conditions were created
                    with the help of the Terms And Conditions Generator.</p>
                <p class="mb-5">Parts of this website offer an opportunity for users to post and exchange opinions and
                    information in certain areas of the website. Ted &amp; George Cleaning Service does not filter,
                    edit, publish or review Comments prior to their presence on the website. Comments do not reflect the
                    views and opinions of Ted &amp; George Cleaning Service,its agents and/or affiliates. Comments
                    reflect the views and opinions of the person who post their views and opinions. To the extent
                    permitted by applicable laws, Ted &amp; George Cleaning Service shall not be liable for the Comments
                    or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or
                    posting of and/or appearance of the Comments on this website.</p>
                <p class="mb-5">Ted &amp; George Cleaning Service reserves the right to monitor all Comments and to
                    remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms
                    and Conditions.</p>
                <p class="mb-4">
                    You warrant and represent that:</p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">You are entitled to post the Comments on our website and have all
                            necessary licenses and consents to do so;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">The Comments do not invade any intellectual property right, including
                            without limitation copyright, patent or trademark of any third party;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">The Comments do not contain any defamatory, libelous, offensive,
                            indecent or otherwise unlawful material which is an invasion of privacy
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">The Comments will not be used to solicit or promote business or custom
                            or present commercial activities or unlawful activity.
                        </div>
                    </li>
                </ul>
                <p class="mb-5">
                    You hereby grant Ted &amp; George Cleaning Service a non-exclusive license to use, reproduce, edit
                    and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
                    or media.
                </p>

                <h2 class="mb-3">3. Hyperlinking to our Content</h2>
                <p class="mb-4">The following organizations may link to our Website without prior written approval:</p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Government agencies;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Search engines;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">News organizations;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">Online directory distributors may link to our Website in the same
                            manner as they hyperlink to the Websites of other listed businesses; and
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">System wide Accredited Businesses except soliciting non-profit
                            organizations, charity shopping malls, and charity fundraising groups which may not
                            hyperlink to our Web site.
                        </div>
                    </li>
                </ul>
                <p class="mb-5">These organizations may link to our home page, to publications or to other Website
                    information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply
                    sponsorship, endorsement or approval of the linking party and its products and/or services; and (c)
                    fits within the context of the linking party’s site.</p>
                <p class="mb-4">
                    We may consider and approve other link requests from the following types of organizations:
                </p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">commonly-known consumer and/or business information sources;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">dot.com community sites;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">associations or other groups representing charities;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">online directory distributors;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">internet portals;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">accounting, law and consulting firms; and
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">educational institutions and trade associations.
                        </div>
                    </li>
                </ul>
                <p class="mb-5">
                    We will approve link requests from these organizations if we decide that: (a) the link would not
                    make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not
                    have any negative records with us; (c) the benefit to us from the visibility of the hyperlink
                    compensates the absence of Ted &amp; George Cleaning Service; and (d) the link is in the context of
                    general resource information.
                </p>
                <p class="mb-5">
                    These organizations may link to our home page so long as the link: (a) is not in any way deceptive;
                    (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its
                    products or services; and (c) fits within the context of the linking party’s site.
                </p>
                <p class="mb-5">
                    If you are one of the organizations listed in paragraph 2 above and are interested in linking to our
                    website, you must inform us by sending an e-mail to Ted &amp; George Cleaning Service. Please
                    include your name, your organization name, contact information as well as the URL of your site, a
                    list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to
                    which you would like to link. Wait 2-3 weeks for a response.
                </p>
                <p class="mb-4">
                    Approved organizations may hyperlink to our Website as follows:
                </p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">By use of our corporate name; or
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">By use of the uniform resource locator being linked to; or
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">By use of any other description of our Website being linked to that
                            makes sense within the context and format of content on the linking party’s site.
                        </div>
                </ul>
                <p class="mb-5">No use of Ted &amp; George Cleaning Service's logo or other artwork will be allowed for
                    linking absent a trademark license agreement.</p>


                <h3>4. iFrames</h3>
                <p class="mb-5">Without prior approval and written permission, you may not create frames around our
                    Webpages that alter in any way the visual presentation or appearance of our Website.</p>
                <h3>5 Content Liability</h3>
                <p class="mb-4">We shall not be hold responsible for any content that appears on your Website. You agree
                    to protect and defend us against all claims that is rising on your Website. No link(s) should appear
                    on any Website that may be interpreted as libelous, obscene or criminal, or which infringes,
                    otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>


                <h2 class="mb-3">6. Your Privacy</h2>
                <p class="mb-4">Please read Privacy Policy</p>

                <h3>7. Reservation of Rights</h3>
                <p class="mb-4">We reserve the right to request that you remove all links or any particular link to our
                    Website.
                    You approve to immediately remove all links to our Website upon request. We also reserve the
                    right to amen these terms and conditions and it’s linking policy at any time. By continuously
                    linking to our Website, you agree to be bound to and follow these linking terms and
                    conditions.</p>

                <h3>8. Removal of links from our website</h3>
                <p class="mb-4">If you find any link on our Website that is offensive for any reason, you are free to
                    contact and
                    inform us any moment. We will consider requests to remove links but we are not obligated to or so or
                    to respond to you directly.</p>
                <p class="mb-4">We do not ensure that the information on this website is correct, we do not warrant its
                    completeness or accuracy; nor do we promise to ensure that the website remains available or that the
                    material on the website is kept up to date.
                </p>
                <h3>9. Disclaimer</h3>
                <p class="mb-4">
                    To the maximum extent permitted by applicable law, we exclude all representations, warranties and
                    conditions relating to our website and the use of this website. Nothing in this disclaimer will:
                </p>
                <ul class="list-unstyled li-space-lg mb-4">
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">limit or exclude our or your liability for death or personal injury;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">limit or exclude our or your liability for fraud or fraudulent
                            misrepresentation;
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">limit any of our or your liabilities in any way that is not permitted
                            under applicable law; or
                        </div>
                    </li>
                    <li class="d-flex">
                        <i class="fas fa-square"></i>
                        <div class="flex-grow-1">exclude any of our or your liabilities that may not be excluded under
                            applicable law.
                        </div>
                    </li>
                </ul>
                <p class="mb-4">
                    The limitations and prohibitions of liability set in this Section and
                    elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all
                    liabilities arising under the disclaimer, including liabilities arising in contract, in tort
                    and for breach of statutory duty.
                </p>
                <p class="mb-4">
                    As long as the website and the information and services on the website
                    are provided free of charge, we will not be liable for any loss or damage of any nature.
                </p>


                <a class="btn-solid-reg mb-5" th:href="@{/#contact}">Contact us</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->


<!-- Copyright -->
<div class="copyright bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <ul class="list-unstyled li-space-lg p-small">
                    <li><a th:href="@{/termsAndConditions}">Terms & Conditions</a></li>
                    <li><a th:href="@{/privacyPolicy}">Privacy Policy</a></li>
                </ul>
            </div> <!-- end of col -->
            <div class="col-lg-3 col-md-12 col-sm-12">
                <p class="p-small statement">Copyright © <a th:href="@{#}">Teodora Nihtyanova</a></p>
            </div> <!-- end of col -->

        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img th:src="@{images/up-arrow.png}" alt="alternative">
</button>
<!-- end of back to top button -->

<!-- Scripts -->
<script th:src="@{js/bootstrap.min.js}"></script> <!-- Bootstrap framework -->
<script th:src="@{js/swiper.min.js}"></script> <!-- Swiper for image and text sliders -->
<script th:src="@{js/scripts.js}"></script> <!-- Custom scripts -->
</body>
</html>